@media only screen
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .block-container {
        flex-direction: column;
    }

    .block {
        width: 40%;
    }

    html {
        font-size: 180%;
    }
}

* {
    box-sizing: border-box;
}

a {
    display: block;
}

html {
    font-size: 130%;
}

h1, p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.image {

}

.main-container {
    height: 100%;
}

.header-container {
    height: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.block-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-block {
    width: 70%;
    height: 200px;
}

.inner-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon {
    width: 60%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 7%, rgba(255, 255, 255, 0) 61%);
}

.inner-block > .icon {
    transition: width 500ms;
}

.inner-block > .icon:hover {
    width: 90%;
    transition: width 500ms;
}

.icon > svg {
    fill: white;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("milky_way.jpeg");
    background-size: cover;
    background-position: center;
}